<div class="contact_main">
	<div class="container">
		<h1 class="pull-right">Contact Me</h1>
		<div class="contact_me pull-right">	
			<a href="http://linkedin.com/in/danielwha"><%= image_tag "biglinkedin.png", class: "contactlink" %></a>
			<a href="http://github.com/danielwha89"><%= image_tag "biggithub.png", class: "contactlink" %></a>
			<a href="http://twitter.com/ddub89"><%= image_tag "bigtwitter.png", class: "contactlink" %></a>
			<a href="http://facebook.com/daniel.w.ha"><%= image_tag "bigfacebook.png", class: "contactlink" %></a>
			<a href="#"><%= image_tag "biggoogle.png", class: "contactlink" %></a>
			<a href="http://instagram.com/d_dub89"><%= image_tag "biginstagram.png", class: "contactlink" %></a>
		</div>
	</div>
</div>
