<div class="main_portfolio">		
	<div class="container"></div>
</div>

<div class="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<%= image_tag "boltnetwork.png", class: "projects" %>
				<h2 class="subtitle">Bolt Network</h2>
				<p class="detail">Bolt Network was a project that I completed during Codecademy Labs</p>
				<%= image_tag "boltnetwork.png", class: "projects" %>
				<h2 class="subtitle">Bolt Network</h2>
				<p class="detail">Bolt Network was a project that I completed during Codecademy Labs</p>
				<%= image_tag "boltnetwork.png", class: "projects" %>
				<h2 class="subtitle">Bolt Network</h2>
				<p class="detail">Bolt Network was a project that I completed during Codecademy Labs</p>
			</div>
			<div class="col-md-6">
				<%= image_tag "boltnetwork.png", class: "projects" %>
				<h2 class="subtitle">Bolt Network</h2>
				<p class="detail">Bolt Network was a project that I completed during Codecademy Labs</p>
				<%= image_tag "boltnetwork.png", class: "projects" %>
				<h2 class="subtitle">Bolt Network</h2>
				<p class="detail">Bolt Network was a project that I completed during Codecademy Labs</p>		
				<%= image_tag "boltnetwork.png", class: "projects" %>
				<h2 class="subtitle">Bolt Network</h2>
				<p class="detail">Bolt Network was a project that I completed during Codecademy Labs</p>
			</div>
		</div>
	</div>
</div>